{{#each schools as |school|}}
  <section data-id="{{school.id}}">
    <table class="table-sm">
      <tbody>
        <tr>
          <th scope="row">Name:&nbsp;</th>
          <td>{{school.name}}</td>
        </tr>
        <tr>
          <th scope="row">Address:&nbsp;</th>
          <td>{{school.address}}</td>
        </tr>
        <tr>
          <th scope="row">City:&nbsp;</th>
          <td>{{school.city}}</td>
        </tr>
        <tr>
          <td colspan="2"><button id="deleteSchoolButton">Remove this school</button></td>
        </tr>
        <tr>
          <td colspan="2"><button id="updateSchoolButton">Update this school</button></td>
        </tr>
        <tr>
          <td colspan="2"><button id="viewSchoolButton">View this school</button></td>
        </tr>
      </tbody>
    </table>
  </section>

{{/each}}
