{{#each schools as |school|}}
  <section data-id="{{school.id}}">
    <div class="row">
      <div>
        Name:&nbsp;
      </div>
      <div>
        {{school.name}}
      </div>
    </div>
    <div class="row">
      <div>
        Address:&nbsp;
      </div>
      <div>
        {{school.address}}
      </div>
    </div>
    <div class="row">
      <div>
        City:&nbsp;
      </div>
      <div>
        {{school.city}}
      </div>
    </div>
    <button id="deleteSchoolButton">Remove this school</button><br/>
    <button id="updateSchoolButton">Update this school</button><br/>
    <button id="viewSchoolButton">View this school</button><br/><br/>
  </section>

{{/each}}
