@import '~bootstrap/scss/bootstrap';

$green: rgba(0, 255, 0, .5);
$red: rgba(255, 0, 0, .5);
$bgc: #edf;

body {
  background-color: $bgc;
  min-width: 300px;
  max-width: 800px;
  width: auto !important;
  margin: auto;
  margin-top: 30px;
}

#change-password-shell,
#sign-out-shell,
#new-school-shell,
#school-list-shell,
#schools,
#school-details-shell,
#update-school-shell {
  display: none;
}

.success {
  background-color: $green;
}

.fail {
  background-color: $red;
}

section {
  padding: 10px;
}
